@font-face {
  font-family: PoiretOne;
   src: url("assets/fonts/PoiretOne-Regular.ttf");
   font-weight: 400;
 }

 @font-face {
  font-family: Manrope;
   src: url("assets/fonts/Manrope-ExtraLight.ttf");
   font-weight: 400;
 }

 @font-face {
  font-family: RobotoFlex;
   src: url("assets/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
   font-weight: 300;
 }
  
 :root {
  --body-color: white;
  --text-color: black;
  --hover-color: white;
  --white-color: white;
  --white-color-two: white;
  --black-color: #000;
  --black-color-two: #000;
  --skin-color: cornflowerblue;
  --skin-color-two: cornflowerblue;
  --contacts-background: white;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
    background-color: var(--white-color);
    height: 100%;
  }
  
  @media (max-width: 7000px) {
    .body {
      display: flex;
      flex-direction: column;
      min-width: 320px;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }
    
     .container {
      max-width: 1440px;
      margin: 0 auto;
      min-height: 50px;
    }
  
    ::-webkit-scrollbar{
      width: 5px;
      }
    ::-webkit-scrollbar-track{
      background: white;
    }
    ::-webkit-scrollbar-thumb{
      height: 5px;
      background: cornflowerblue;
      border-radius: 25%;
      border: 5px solid cornflowerblue;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: white;
    }
    
    .header {
      background: url('./assets/img/header-bg.jpg');
      background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
      max-width: 1440px;
      min-height: 1150px;
      margin: 0 auto;
    }
  
    .header.open {
      background: url('./assets/img/Header/bg_w.jpg');
      background-repeat: no-repeat;
      background-position: 0px;
      background-size: cover;
      background-color: var(--black-color);
      max-width: 1440px;
      min-height: 1080px;
      margin: 0 auto;
    }
  
    .nav {
      display: flex;
      justify-content: space-evenly;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      margin: 20px 0;
      padding: 0;
      min-width: 570px;
      color: white;
    }
    
    .menu {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 64px;
    margin-left: 20px;
  }
    
  .menu-button {
    width: 50px;
    height: 2px;
    background: var(--white-color);
    transition: all .5s ease-in-out;
    margin: 0;
  }
    
  .menu-button::before,
  .menu-button::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--white-color);
    transition: all .5s ease-in-out;
  }
    
  .menu-button::before {
    transform: translateY(-11px);
  }
    
  .menu-button::after {
    transform: translateY(11px);
  }
  
  .menu.open .menu-button {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    margin: 0;
  }
    
  .menu.open .menu-button::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
    
  .menu.open .menu-button::after {
    transform: rotate(-45deg) translate(35px, 35px); 
  }
  
    .header-container {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        width: 1440px;
        height: 90px;
        margin-top: 0;
        align-content: center;  
    }
  
    .nav-list {
      list-style-type: none;
      display: flex;
      color: var(--white-color);
      padding: 0;
      margin: 0;
      line-height: 50px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
    }
    
    .nav-item {
        margin-right: 30px;
        transition: .3s;
    }
  
    .nav-link {
      position: relative;
      color: var(--white-color);
      text-decoration: none;
      line-height: 50px;
      transition: 0.3s;
    }

    .nav-link:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;
      content: "";
      transition: width 0.5s ease-out;
    }

    .nav-link:hover:after,
    .nav-link:focus:after {
	width: 100%;
}
  
    .logo {
      transition: 0.3s;
      height: 100px;
      width: 100px;
      cursor: pointer;
      margin: 0;
      margin-bottom: -100px;
      margin-left: 20px;
      color: var(--white-color);
      }
  
      .logo:hover {
        filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
        }      
  
  .main {
    background-color: var(--white-color);
    max-width: 1440px;
    min-height: 4472px;
    margin: 0 auto;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    max-width: 1440px;
    min-height: 4472px;
    margin: 0;
  }

   .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 80px;
    margin-left: 370px;
    margin-top: 100px;
    color: var(--white-color-two);
    margin-bottom: 60px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 80px;
  } 
  
  .section-title::after {
    content: "";
    width: 100%;
    margin-left: 20px;
    border-bottom: 2px solid;
  }
  
  .section-title::before {
    content: "";
    width: 100%;
    margin-right: 20px;
    border-bottom: 2px solid;
  }
  
   .hero-container {
       display: flex;
       flex-direction: column;
       justify-self: center;
       width: 500px;
       height: 330px;
       margin-top: -800px;
       margin-bottom: 310px;
       margin-left: 85px;
   }
  
   .h1 {
    padding: 0;
    width: 820px;
    height: 105px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: PoiretOne;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 105px;
    color: var(--white-color-two);
   }
  
   .button-hero {
    margin-left: 545px;
    background: rgba(0, 0, 0, 0.5);
    font-family: RobotoFlex;
    font-style: normal;
    text-align: center;
    width: 300px;
    font-size: 35px;
    line-height: 75px;
    margin-top: 180px;
    border: 3px solid #FFFFFF;
    border-radius: 72.5px;
    color: var(--white-color);
    cursor: pointer;
   }
  
   .button-hero:hover,.button-hero:focus {
      color: var(--white-color);
      background-color: transparent;
      border: solid white;
    }
  
   .text {
   width: 440px;
   height: 60px;
   font-family: RobotoFlex;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 60px;
   color: var(--white-color);
   }
  
   .skills {
    background: url('./assets/img/bg_w.jpg');
    background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
      width: 1440px;
      height: 1080px;
      margin-top: 0;
  }
  
  .skills-list {
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1440px;
  height: 500px;
  margin: 100px auto;
  }
  
  .skills-items {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 320px;
  height: 240px;
  margin: 30px 30px;
  }
  
  .skills-item {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 0;
  margin: 0 auto;
  }
  
  .skill-text {
   display: flex;
   justify-content: center;
   font-family: Manrope;
   font-style: normal;
   font-weight: 200;
   font-size: 20px;
   line-height: 40px;
   color: var(--white-color);
   margin-bottom: 10px;
   margin-left: 20px;
   width: 290px;
   height: 100px;
  }
  
  .skill-title {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 65px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  color: var(--white-color);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  }
  
  .portfolio {
  width: 1440px;
  height: 1500px;
  background: url('./assets/img/photo_bg.jpg');
  background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
  } 
  
  .portfolio-buttons {
  display: flex;
  justify-content: center;
  width: 895px;
  height: 55px;
  margin-left: 280px;
  margin-bottom: 60px;
  }
  
  .portfolio-button {
    font-family: RobotoFlex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 220px;
    line-height: 40px;
    border: 3px solid #FFFFFF;
    border-radius: 72.5px;
    color: var(--white-color-two);
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-right: 5px;
  }

  .portfolio-button:hover,.portfolio-button:focus {
    color: var(--white-color);
    background-color: transparent;
    border: solid white;
  }
  
  portfolio-button.active {
    color: var(--white-color);
    background-color: transparent;
    border: solid white;
  }

  .portfolio-button.active:hover,.portfolio-button.active:focus {
    color: var(--white-color);
    background-color: transparent;
    border: solid white;
  }

  .portfolio-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around; 
  width: 1400px;
  height: 1150px; 
  margin: 0 auto;
  }
  
  .portfolio-image {
  width: 560px; 
  height: 380px; 
  }
  
  .video {
    width: 1440px;
    height: 1080px;
    background: url('./assets/img/video_bg.png');
    background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
    } 

  .player {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1440px;
height: 720px;
margin: 0 auto;
  }
  
  .player__video {
    width: 100%;
  }
  
  .player__button {
    background:none;
    border:0;
    line-height:1;
    color:white;
    text-align: center;
    outline:0;
    padding: 0;
    cursor:pointer;
    max-width:50px;
  }

  .player__button:focus {
    border-color: cornflowerblue;
  }
  
  .player__slider {
    width:10px;
    height:30px;
  }
  
  .player__controls {
    display:flex;
    position: absolute;
    bottom:0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition:all .3s;
    flex-wrap:wrap;
    background:rgba(0,0,0,0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height:15px;
  }
  
  .player__controls > * {
    flex:1;
  }
  
  .play-btn {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 3;
    background-image: url('./assets/svg/play-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 1s;
  }
  
  .play-btn:hover {
    filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
  }
  
  .play-icon {
    width: 40px;
    height: 36px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .play-icon:hover,
  .play-icon:active {
    filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
  }
  
  .progress {
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height: 7px;
    transition: height 0.3s;
    background:rgba(0,0,0,0.5);
    cursor:ew-resize;
    border: solid 2px cornflowerblue;
    border-radius: 8px;
  }
  
  .progress__filled {
    width:50%;
    background: cornflowerblue;
    flex:0;
    flex-basis:50%;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: white;
    border: solid 2px cornflowerblue;
    border-radius: 8px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: cornflowerblue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: cornflowerblue;
    cursor: pointer;
  }
  
  .mentors-image {
    width: 450px; 
    height: 450px; 
    }

  .contact {
    width: 1440px;
  height: 1440px;
  background: url('./assets/img/mentors_bg.jpg');
  background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
    }

    .info {
      width: 1440px;
  height: 1080px;
  background: url('./assets/img/info_bg.jpg');
  background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
      background-color: var(--white-color);
      }
      
      .info-list {
        display: flex;
        justify-content: center;
        align-content: space-between; 
        width: 1440px;
        height: 845px; 
        margin: 0 auto;
      }
      
      .info-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 400px;
      background: rgba(9, 3, 20, 0.7);
      padding: 0;
      margin: 0;
      }
      
      .info-class {
        display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
       font-family: Manrope;
       font-style: normal;
       font-weight: 200;
       font-size: 20px;
       line-height: 40px;
       text-align: center;
       color: var(--white-color);
       width: 400px;
       height: 400px;
       margin: 0;
       padding: 0;
      }
      
      .span-list {
      margin: 0;
      padding-bottom: 15px;
      }
      
      .span {
        display: block;
        width: 310px;
        height: 60px;
        margin: 0;
        font-family: Manrope;
        font-style: normal;
        font-weight: 200;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        color: var(--white-color);
      }
  
  .footer {
  background-color: var(--black-color);
  width: 1440px;
  max-height: 150px;
  margin: 0 auto;
  }
  
  .footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  }

  .inst {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--black-color);
  width: 188px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  }
  
  .foot-ico {
  width: 42px;
  height: 42px;
  transition: 0.3s;
  cursor: pointer;
  }
  
  .foot-ico:hover {
    filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
  }
  
  }
  
  @media (max-width: 768px) {
    .body {
      display: flex;
      flex-direction: column;
      max-width: 768px;
      margin: 0 auto;
      padding: 0;
    }
    
     .container {
      max-width: 768px;
      margin: 0 auto;
      padding: 0;
    }
    
    ::-webkit-scrollbar{
      width: 0px;
      }
    ::-webkit-scrollbar-track{
      background: cornflowerblue;
      width: 0px;
    }
    ::-webkit-scrollbar-thumb{
      height: 0px;
      background: cornflowerblue;
      border-radius: 25%;
      border: 0px solid cornflowerblue;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: cornflowerblue;
      height: 0px;
    }
  
    .header {
      display: flex;
      background: url('./assets/img/header-bg.jpg');
      background-color: var(--black-color);
      background-repeat: no-repeat;
      background-position: left -40px;
      background-size: auto 615px;
      width: 768px;
      min-height: 590px;
      margin: 0 auto;
      padding: 0;
    }
  
    .header.open {
      display: flex;
      background: url('./assets/img/Header/bg_w.jpg');
      background-color: var(--black-color);
      background-repeat: no-repeat;
      background-position: left -40px;
      background-size: auto 615px;
      max-width: 768px;
      min-height: 590px;
      margin:  0;
      padding: 0;
    }
  
    .nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      margin: 0;
      padding: 0;
      max-width: 768px;
    }
  
    .menu {
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: -26px;
      margin-top: 5px;
      z-index: 1;
    }
    
    .header-container {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        width: 768px;
        height: 90px;
        margin-top: 0;
        margin-bottom: 310px;
        align-content: center; 
    }
    
    .nav-list {
      display: flex;
      justify-content: right;
      flex-direction: column;
      position: fixed;
      height: 100%;
      width: 620px;
      right: -620px;
      background-color: var(--black-color);
      transition: right 0.7s ease-in-out;
      margin-top: -50px;
      margin-right: 0px;
      z-index: 0;
      transform: translateX(0);
      padding: 0;
      transition: right 0.7s ease-in-out;
      color: var(--white-color);
    }
    
     .nav-list.open {
      transition: right 0.7s ease-in-out;
      transform: translateX(0);
      right: 0;
      padding: 0;
      z-index: 1;
    }
    
    .nav-item {
      display: flex;
      margin: 16px 0px 0px 127px;
      transition: .3s;
      padding: 0;
    }
  
    .nav-link {
    text-decoration: none;
    color: var(--white-color);
    }
  
    .nav-item:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    }
    
    .logo {
      transition: 0.3s;
      height: 50px;
      width:  50px;
      cursor: pointer;
      margin: 0;
      margin-top: 20px;
      margin-bottom: -55px;
      margin-left: 60px;
      color: var(--white-color);
    }
  
      .logo:hover {
        filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
        }
    
    .main {
      background-color: var(--black-color);
      max-width: 768px;
      margin: 0;
    }
    
    .main-container {
      display: flex;
      flex-direction: column;
      background-color: var(--black-color);
      max-width: 768px;
      margin: 0;
      padding: 0;
    }
  
     .section-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 364px;
      height: 80px;
      margin-left: 202px;
      margin-top: 80px;
      color: var(--white-color-two);
      margin-bottom: 50px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 200;
      font-size: 30px;
      line-height: 80px;
    } 
    
    .section-title::after {
      content: "";
      width: 100%;
      margin-left: 20px;
      border-bottom: 2px solid;
    }
  
    .section-title::before {
      content: "";
      width: 100%;
      margin-right: 20px;
      border-bottom: 2px solid;
    }
  
     .hero-container {
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 270px;
      height: 390px;
      margin-top: -405px;
      margin-bottom: 0;
      margin-left: 60px;
     }
    
     .h1 {
      padding: 0;
      width: 165px;
      height: 100px;
      margin: 0;
      margin-bottom: 20px;
      font-family: PoiretOne;
      font-style: normal;
      font-size: 40px;
      line-height: 40px;
      color: var(--white-color-two);
     }
    
     .button-hero {
    margin-left: 0;
    text-align: center;
    font-family: RobotoFlex;
    font-style: normal;
    width: 200px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 0px;
    color: var(--white-color);
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 3px solid #FFFFFF;
    border-radius: 72.5px;
     }
  
     .button-hero:hover,.button-hero:focus {
      color: var(--white-color);
      background-color: transparent;
      border: solid white;
    }
    
     .text {
     width: 390px;
     height: 72px;
     font-family: RobotoFlex;
     font-style: normal;
     font-weight: 300;
     font-size: 25px;
     line-height: 35px;
     color: var(--white-color);
     }
    
     .skills {
      width: 768px;
      height: 1080px;
      margin-left: 0;
    }
    
    .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    width: 768px;
    height: 768px;
    margin-left: 0;
    }
    
    .skills-items {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 320px;
    height: 320px;
    margin-top: 0;
    margin-left: 0;
    }
   
    .skills-item {
    width: 62px;
    height: 50px;
    margin-left: 0;
    }
    
    .skill-text {
     display: flex;
     text-align: left;
     font-family: Manrope;
     font-style: normal;
     font-weight: 200;
     font-size: 15px;
     line-height: 25px;
     color: var(--white-color);
     margin-bottom: 10px;
     margin-left: 0px;
     width: 290px;
     height: 50px;
    }
    
    .skill-title {
    display: flex;
    justify-content: left;
    width: 280px;
    height: 40px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--white-color);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    }
  
    .portfolio {
    width: 768px;
    height: 3870px;
    margin-top: 0px;
    } 
    
    .portfolio-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 445px;
    height: 115px;
    margin-left: 162px;
    margin-bottom: 60px;
    }
    
    .portfolio-button {
    width: 220px;
    height: 55px;
    font-family: RobotoFlex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--white-color-two);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #FFFFFF;
    border-radius: 72.5px;
    cursor: pointer;
    }
    
    .portfolio-button:hover,.portfolio-button:focus {
      color: var(--white-color);
      background-color: transparent;
      border: solid white;
    }
    
    portfolio-button.active {
      color: var(--white-color);
      background-color: transparent;
      border: solid white;
    }
  
    .portfolio-button.active:hover,.portfolio-button.active:focus {
      color: var(--white-color);
      background-color: transparent;
      border: solid white;
    }
  
    
    .portfolio-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    width: 540px; 
    height: 3485px; 
    margin: 0 auto;
    }
    
    .portfolio-image {
    width: 540px; 
    height: 450px; 
    }
    
    .video {
    width: 768px;
    }
  
    .player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 418px;
    margin: 0;
    padding: 0;
    }

    .play-btn {
      position: absolute;
      width: 75px;
      height: 75px;
      z-index: 3;
      background-image: url('./assets/svg/play-btn.svg');
      background-color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      transition: 1s;
      border: 0;
    margin: 0;
    }
    
    .play-btn:hover {
      filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
    }

    .contact {
      width: 768px;
    height: 4000px;
    background: url('./assets/img/mentors_bg.jpg');
    background-repeat: no-repeat;
        background-position: 0;
        background-size: cover;
        background-color: var(--white-color);
      }
    
    .info-list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 768px;
    height: 1615px;
    margin: 0px 20px;
    }
    
    .info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: rgba(9, 3, 20, 0.7);
    padding: 0;
    margin: 0;
    }
    
    .info-class {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     font-family: Manrope;
     font-style: normal;
     font-weight: 200;
     font-size: 20px;
     line-height: 40px;
     text-align: center;
     color: var(--white-color);
     width: 220px;
     height: 420px;
     margin: 0;
     padding: 0;
    }
    
    .span-list {
      margin: 0;
      padding-bottom: 15px;
    }
    
    .span {
    display: block;
    width: 310px;
    height: 60px;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--white-color);
    }
    
    .info {
    width: 768px;
    height: 1905px;
    background: url('./assets/img/info_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-color: var(--white-color);
    }
    
    .footer {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    width: 768px;
    max-height: 190px;
    margin: 0;
    }
    
    .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 210px;
    height: 144px;
    }
    
    .inst {
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: var(--black-color);
      width: 188px;
      height: 50px;
      margin: 0;
      margin-left: 5px;
    }
    
    .foot-ico {
    width: 42px;
    height: 42px;
    transition: 0.3s;
    cursor: pointer;
    }
    
    .foot-ico:hover {
    filter: invert(54%) sepia(45%) saturate(1059%) hue-rotate(191deg) brightness(99%) contrast(88%);
    }
    
    }